.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 39px;
  border-radius: 4px;
  background: #ff7143;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.submit-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 39px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #ff7143;
  color: #ff7143;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  transition: all 0.5s;
}
