@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar */
* {
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers */
}
/* Define global CSS variables */
:root {
  --primary-color: #ff7143; /* Primary blue color */
  --primary-color-opacity: #ff724359; /* Primary blue color */
  --secondary-color: #2d3b4f; /* Sidebar background color */
  --text-color: #252525; /* Default text color */
  --bg-color: #f5f5f5; /* Light gray background */
  --white: #fff; /* Light gray background */
  --border-radius: 0.375rem; /* General border radius for rounded corners */
}
body {
  font-family: "Inter", serif;
}
.site-text {
  color: var(--text-color);
}
.site-primary-text {
  color: var(--primary-color);
}
.site-bg {
  background-color: var(--primary-color);
}

.theme-btn-one {
  text-align: center;
  width: 182px;
  height: 45px;
  border-radius: 24px;
  background: #ff7143;
  color: var(--white);
}
.card-header {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #eee;
  background: #f6f7fc;
}
.card {
  border: 1px solid #eee;
}
.action-icons-btn {
  background-color: transparent;
  padding: 5px;
}
.action-icons-btn:hover {
  background-color: var(--primary-color-opacity);
  padding: 5px;
  border-radius: 100%;
}
.border-0 {
  border: 0px solid !important;
}
.pg-btn {
  background-color: var(--primary-color);
}
.search-m-box{
  margin-right: -15px;
}